body {
  font-family: Helvetica, Arial, freesans, clean, sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em;
  background: #f3f3f3;
}

nav ul {
  font-weight: bolder;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  padding-top: 1em;
  flex: 2;
}

.navright {
  font-size: 80%;
  text-align: right;
  flex: 1;
  align-content: flex-end;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: inherit;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: #000;
}

main {
  display: flex;
  padding-top: 5em;
  justify-content: center;
}

.container div {
  padding: 0.5em;
}

.container img {
  display: flex;
  width: 250px;
  padding: 0.5em;
  border: 1px solid #bbb;
  border-radius: 0.42em;
}

.container footer {
  font-size: 80%;
  display: flex;
  padding-top: 0.5em;
  border-bottom: 1px solid #bbb;
  justify-content: flex-end;
}

.left {
  color: #aaa;
  flex: 1;
  align-self: flex-start;
}

.light {
  padding-bottom: 0.5em;
  color: #bbb;
}

.bold {
  font-weight: bold;
  color: #222;
}

.footer {
  text-align: center;
  border-top: 1px solid #bbb;
  padding: 0.5em;
  margin-top: 1em;
}

.footer a {
  text-decoration: none;
}

.footer-icon {
  margin: 0;
  padding: 0;
  opacity: 0.3;
}

.anchor {
  font-size: 80%;
  color: #4183c4;
}

.footer img {
  padding: .3em;
}

.footer h6 {
  margin: 0;
  padding: 0;
  color: #bbb;
}

.footer a:link {
  color: inherit;
}

.footer a:visited {
  color: inherit;
}

.footer a:hover {
  color: #000;
}

@media only screen and (min-width: 768px) {
  header {
    font-size: 200%;
    font-weight: none;
  }
  .container {
    display: flex;
    padding: 5em;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    font-size: 100%;
    display: flex;
    border-top: 3px solid #bbb;
    justify-content: space-around;
  }
  .anchor {
    font-size: 100%;
  }
  .footer img {
    width: 25px;
  }
  .footer h6 {
    font-size: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    font-size: 400%;
    font-weight: none;
    padding: 0;
  }
  .navright {
    font-size: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    display: flex;
    min-width: 1200px;
    padding: 5em;
    flex-wrap: wrap;
  }
  .desktop {
    font-size: 250%;
    width: 500px;
    margin: 0 1em;
  }
  .desktop img {
    width: 500px;
  }
  .footer {
    font-size: 150%;
    display: flex;
    border-top: 3px solid #bbb;
    justify-content: space-around;
  }
  .anchor {
    font-size: 100%;
  }
  .footer img {
    width: 50px;
  }
  .footer h6 {
    font-size: 100%;
  }
}
